@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .chr-default-btn {
        @apply text-white border-0 cursor-pointer font-medium h-[46px] outline-none py-0 px-6 transition-colors duration-200 rounded-3xl
    }
}

.bg-linear {
    background: linear-gradient(15.69deg, #e8f0fe 10.16%, rgba(255, 255, 255, 0) 89.84%);
}

.spin {
    animation: spin 10s linear infinite;
}

.spin-two {
    animation: spin 15s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* .cr-shadow {
    box-shadow: 8px 8px 0 rgb(32 33 37 / 10%);
}
.cr-card::after {
    -webkit-box-shadow: 8px 8px 0 rgb(32 33 37 / 10%);
    box-shadow: 8px 8px 0 rgb(32 33 37 / 10%);
    border-radius: 8px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    pointer-events: auto;
    position: absolute;
    top: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 227px;
} */